name: Run tests on pull requests

on:
  pull_request:

jobs:
  build-environment:
    runs-on: ubuntu-18.04
    name: Build environment

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # See: https://github.com/marketplace/actions/setup-conda
      - name: Setup anaconda
        uses: s-weigand/setup-conda@v1
        with:
          conda-channels: "conda-forge"

      - name: Build environment
        run: |
          conda install -c conda-forge mamba
          mamba env update -f environment.yml

      - name: Run tests
        run: |
          source activate {{ project_name }}
          pip install -e .
          pytest
