# Run code style checks on each pull request.
name: Code style checks

on: [pull_request]

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Setup Pixi Environment
        uses: prefix-dev/setup-pixi@v0.8.1
        with:
          cache: true
          cache-write: {{ '${{ github.event_name == "push" && github.ref_name == "main" }}' }}
      - uses: pre-commit/action@v2.0.0
