# {{ project_name }}

Welcome to the repository for the {{ project_name }} project!

## Quickstart

<!-- uncomment if relevant
### Install from PyPI

```python
pip install {{ project_name }}
```
-->
### Install from source

```bash
pip install git@github.com:{{ github_username }}/{{ project_name }}
```

### Build and preview docs

```bash
mkdocs serve
```

## Why this project exists

Place your reasons here for why this project exists.

What benefits does this project give to users?
