[metadata]
name = {{ project_name }}
version = 0.0.1

[options]
packages = find:
include_package_data = True

[options.entry_points]
console_scripts =
    {{ project_name }}={{ project_name | to_snake }}.cli:app
