"""Top-level API for {{ project_name }}.

This is the file from which you can do:

    from {{ project_name | to_snake }} import some_function

Use it to control the top-level API of your Python data science project.
"""
